body {
  background-image: url(../src/pampas-grass-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: "Rye", cursive;
  font-family: "Twinkle Star", cursive;
  font-family: "Work Sans", sans-serif;
}
